ChangeLog
LongoMatch/bin
LongoMatch.userprefs
LongoMatch.usertasks
Makefile
Makefile.include~
NEWS~
README~
RELEASE~
config.guess
config.log
config.status
config.sub
configure.ac~
depcomp
libtool
longomatch-0.15.0.tar.gz
ltmain.sh
missing
ChangeLog~
INSTALL~
autom4te.cache
.mer*
*.lo
*.la
*~
*.orig
*.o
*tar.gz
*.pidb
.log.swp
CesarPlayer/CesarPlayer.dll.config
CesarPlayer/Makefile.in
CesarPlayer/a.dll
CesarPlayer/a.dll.mdb
CesarPlayer/bin/
CesarPlayer/cesarplayer.pc
CesarPlayer/AssemblyInfo.cs
LongoMatch/longomatch.desktop.in
LongoMatch/AssemblyInfo.cs
LongoMatch/Makefile.in
LongoMatch/longomatch
LongoMatch/longomatch.desktop
LongoMatch/share/
Makefile.in
aclocal.m4
configure
install-sh
libcesarplayer/Makefile.in
libcesarplayer/libcesarplayer.md.pc
libcesarplayer/deps/
libcesarplayer/libs/
libcesarplayer/Makefile.in
libcesarplayer/baconvideowidget-marshal.c
libcesarplayer/baconvideowidget-marshal.h
log
m4/
po/GMO/
po/Makefile.in
po/Makefile.in.in
po/*gmo
po/*pot
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
