[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LongoMatch
Type=Application
Exec=longomatch
Terminal=false
GenericName[es_ES]=
Categories=Video;AudioVideo;Player;AudioVideoEditing;Recorder;AudioVideoEditing;Database;Recorder;Player;
