Source: longomatch
Section: unknown
Priority: extra
Maintainer: Andoni Morales Alastruey <ylatuya@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, cdbs
Standards-Version: 3.7.2

Package: longomatch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mono-runtime
Description: LongoMatch:The Digital Coach
 LongoMatch is a sports video analyze tool for coaches 
 and trainers to assist them  on making live video reports
 from a match. It creates a database with the most    
 important plays of a game, grouped by categories, to easily
 access them and to create play lists and new videos from the
 selected plays. 
